@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: 0.08rem;
    --light-blue: #8ecae6;
    --dark-blue: #219ebc;
}
button {
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    background: var(--light-blue);
}
a,
a:visited {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
a:hover,
button:hover,
select:hover,
.inputs-link:hover,
.gasket-link:hover {
    cursor: pointer;
}
body {
    background: var(--dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 100%;
    margin: 2vh auto auto auto;
}
.menu {
    width: 20vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--light-blue);
}
.menu div {
    padding: 0.5vh 0 0.5vh 0;
    display: flex;
    height: auto;
    width: 100%;
}
.menu-div2,
.menu-div3a,
.menu-div3b,
.menu-div3c {
    display: none;
}
.menu-link {
    width: auto;
    padding: 0;
    font-size: clamp(1rem, 4vh, 1.5rem);
    text-decoration: none;
}
.menu-img {
    margin: auto 0.5vw auto 0;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.1s ease-in-out;
}
#menu-icon {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    height: 3vh;
    width: 2vw;
    cursor: pointer;

}
.menu-img:hover {
    cursor: pointer;
}
#menu-link1 {
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}
#menu-link2 {
    margin: 0.5vh 0.5vw 0.5vh 2.5vw;
}
#menu-link3 {
    margin: 0.5vh 0.5vw 0.5vh 4.5vw;
}
.menu-link:hover {
    text-decoration: underline 1px;
}
.menu,
.inputs,
.outputs {
    height: 95vh;
    color: inputFontColor;
}
#index-inputs {
    display: flex;
    flex-direction: column;
}
.inputs {
    width: 48vw;
    display: grid;
    grid-template: 
    "heading heading heading heading heading" 10vh
    "shapes image image image image" 35vh
    "form form form form form" auto
    "labour profit priceUnit weightUnit sizeUnit" 5vh
    "labourLabel profitLabel priceLabel weightLabel sizeLabel" 8vh
    ". count count count ." 5vh
    /20% 20% 20% 20% 20%;
}
.inputs h1 {
    font-size: 2.8em;
    text-align: center;
    grid-area: heading;
    height: 10vh;
}
#inputs-image {
    grid-area: image;
}
.SWG-types-button,
.entry-page-button,
.CG-types-button {
    height: 14vh;
    width: 15vw;
    font-size: 1.4rem;
    background: var(--light-blue);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    border: none;
}
.entry-page-button:hover{
    cursor: pointer;
}
.inputs-link,
.inputs-link:visited,
.gasket-link {
    width: 15vw;
    margin: 1vh auto 1vh auto;
    text-decoration: none;
    color: black;
    z-index: 99;
}
.inputs-img {
    width: 90%;
    height: 25vh;
    margin: 5vh auto auto auto;
}
.inputs-form {
    height: 45vh;
}
.outputs {
    width: 28vw;
    max-width: 28vw;
    margin-left: 2vw;
    border-left: #ffb703 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table {
    width: 95%;
    font-size: 1.5em;
}
td {
    padding: 1vh 0 1vh 0;
}
.form-input {
    border-radius: 0.5em;
    height: 5vh;
    width: 90%;
    margin: auto;
    background: var(--light-blue);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-align: center;
}
.form-text {
    font-size: 1.2rem;
    margin: 0 0.5vw 0 0.5vh;
}
.form-input option {
    background: #ffb8034d;
    font-size: 1.3rem;
    border: none;
}
#partialResDiv {
    display: inline-block;
    flex-direction: column;
    width: 90%;
}
#partialResUl {
    display: none;
    position: absolute;
    top: 0;
    width: auto;
    padding: 1vh 1vw;
    background: var(--light-blue);
    z-index: 1;
}
#partialResBtn {
    border-radius: none;
    width: 100%;
    padding: 0.5vh 0.5vw;
    margin: 1vh auto;
    text-align: center;
}
#partialResDiv:hover #partialResUl{
    display: block;
}
#button-form {
    grid-area: button;
    border: none;
    width: 15vw;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    background: var(--light-blue);
    color: black;
    border-radius: 5px;
    height: 5vh;
    margin: auto auto auto auto;
}
#hide-menu {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}
.logo,
.logoIndex {
    max-width: 100%;
    max-height: 10vh;
    align-self: center;
}
#d1-form {
    grid-area: d1;
}
#d1-text {
    grid-area: d1-text;
}
#d2-form {
    grid-area: d2;
}
#d2-text {
    grid-area: d2-text;
}
#d3-form {
    grid-area: d3;
}
#d4-form {
    grid-area: d4;
}
#thickness-text1 {
    grid-area: thickness-text1;
}
#thickness-text2 {
    grid-area: thickness-text2
}
#thickness-form1 {
    grid-area: thickness-form1;
}
#thickness-form2 {
    grid-area: thickness-form2;
}
#thickness-form3 {
    grid-area: thickness-form3;
}
#metal-text {
    grid-area: metal-text;
}
#metal-form1 {
    grid-area: metal-form1;
}
#metal-form2 {
    grid-area: metal-form2;
}
#metal-form3 {
    grid-area: metal-form3;
}
#filler-text {
    grid-area: filler-text;
}
#filler-form {
    grid-area: filler-form;
}
#ring-section {
    grid-area: ring;
}
#section-Dinputs {
    grid-area: d-inputs;
}
#section-Dtext {
    grid-area: d-text;
}
.form-text {
    display: flex;
    align-self: center;
    justify-self: center;
}
#section-Dinputs,
#section-Dtext,
#ring-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
input, select {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#shape-dropDown {
    grid-area: shapes;
    border: solid white 1px;
    height: 5vh;
    width: 100%;
    margin: auto;
}
#shape-button {
    width: 100%;
    height: 100%;
}
#shape-menu {
    display: none;
    list-style: none;
}
#shape-dropDown:hover #shape-menu{
    display: inline;
}